<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/popper.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendors/nice-select/js/jquery.nice-select.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendors/owl-carousel/owl.carousel.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/owl-carousel-thumb.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/mail-script.js')}}"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="{{ url_for('static', filename='js/gmaps.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/theme.js')}}"></script>

<script>

    window.onload = function () {
        check_login_status();
        display_error();
    }

    function valid(str) {
        return !(!str || 0 === str.length || !str.trim());
    }

    function check_login_status() {
        var username = '{{session["username"]}}';

        if (valid(username)) {
            document.getElementById("yourself").innerText = "Profile"
            document.getElementById("signup").innerText = username;
            document.getElementById("signup").href = "/profile";
            document.getElementById("signin").innerText = "Log Out";
            document.getElementById("signin").href = "/auth/logout";

        }
        else {
            document.getElementById("yourself").innerText = "Auth"
            document.getElementById("signup").innerText = "Sign Up";
            document.getElementById("signup").href = "/auth/signup";
            document.getElementById("signin").innerText = "Sign In";
            document.getElementById("signin").href = "/auth/signin";
        }
    }
</script>